<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>201170765759-f72jmcl7hcd4uo1j91k36s71d7g9u2a6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201170765759-f72jmcl7hcd4uo1j91k36s71d7g9u2a6</string>
	<key>API_KEY</key>
	<string>AIzaSyCkVbcZ8oJ-O7tWSi8mQwz5lULqcOfzv88</string>
	<key>GCM_SENDER_ID</key>
	<string>201170765759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.budgetspace.ReactNative</string>
	<key>PROJECT_ID</key>
	<string>react-finance-f20df</string>
	<key>STORAGE_BUCKET</key>
	<string>react-finance-f20df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201170765759:ios:bb2da490045040a9</string>
	<key>DATABASE_URL</key>
	<string>https://react-finance-f20df.firebaseio.com</string>
</dict>
</plist>